<section class="about section">
  <div class="container">
    <h2 class="title about__title">
      About SakaAgency
    </h2>
    <div class="about__wrapper">
      <ul class="about__list list-reset">
        <li class="about__item about__item--since">
          <h3 class="about__subtitle">
            Since 2010
          </h3>
          <p class="about__descr">
            have a long road journey about digital agency, we have the best experience to help grow your business
          </p>
        </li>
        <li class="about__item about__item--guaranteed">
          <h3 class="about__subtitle">
            Satisfying guaranteed
          </h3>
          <p class="about__descr">
            money-back guaranteed if you are not like our work, you can complaint
          </p>
        </li>
        <li class="about__item about__item--world">
          <h3 class="about__subtitle">
            Around The World
          </h3>
          <p class="about__descr">
            We have the best team from around the world, so our customer is around the world
          </p>
        </li>
        <li class="about__item about__item--secure">
          <h3 class="about__subtitle">
            Secure Payment
          </h3>
          <p class="about__descr">
            Don’t worry about payment, our payment is 100% secure
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
