<section class="best section">
  <div class="container">
    <div class="best__title-inner">
      <h2 class="title best__title">
        The Best
        Amazing Project
      </h2>
      <a class="best__link link" target="_blank" href="#">
        View All
      </a>
    </div>
    <ul class="best__list list-reset">
      <li class="best__list-item">
        <a class="best__item-link" target="_blank" href="#">
          <img src="img/stay-healthy.png" width="540" alt="screenshot site Project stay-healthy">
        </a>
      </li>
      <li class="best__list-item">
        <a class="best__item-link" target="_blank" href="#">
          <img src="img/sorry.png" width="540" alt="screenshot site Project Go Space">
        </a>
      </li>
      <li class="best__list-item">
        <a class="best__item-link" target="_blank" href="#">
          <img src="img/vaksin.png" width="540" alt="screenshot site Project Vaksin.in">
        </a>
      </li>
      <li class="best__list-item">
        <a class="best__item-link" target="_blank" href="#">
          <img src="img/stay-cation.png" width="540" alt="screenshot site Project Staycation.">
        </a>
      </li>
    </ul>
  </div>
</section>
