<section class="best section">
  <div class="container">
    <div class="best__title-inner">
      <h2 class="title best__title">
        The Best
        Amazing Project
      </h2>
      <div class="animate__rubberBand animate__animated animate__slow animate__repeat-3">
        <a class="best__link link" target="_blank" aria-label="Link to view all Project" href="#">
          View All
        </a>
      </div>
    </div>
    <ul class="best__list list-reset">
      <li class="best__list-item">
        <a class="best__item-link" target="_blank" aria-label="Link-screenshot to site Project stay-healthy" href="#">
          <picture>
            <source srcset="img/stay-healthy.avif" type="image/avif">
            <source srcset="img/stay-healthy.webp" type="image/webp">
            <img src="img/stay-healthy.png" width="540" loading="lazy" alt="screenshot site Project stay-healthy"
              data-aos="zoom-in-up" data-aos-duration="2000">
          </picture>
        </a>
      </li>
      <li class="best__list-item">
        <a class="best__item-link" target="_blank" aria-label="Link-screenshot to site Project Go Space" href="#">
          <picture>
            <source srcset="img/sorry.avif" type="image/avif">
            <source srcset="img/sorry.webp" type="image/webp">
            <img src="img/sorry.png" width="540" loading="lazy" alt="screenshot site Project Go Space"
              data-aos="zoom-in-up" data-aos-duration="2000">
          </picture>
        </a>
      </li>
      <li class="best__list-item">
        <a class="best__item-link" target="_blank" aria-label="Link-screenshot to site Project Vaksin.in" href="#">
          <picture>
            <source srcset="img/vaksin.avif" type="image/avif">
            <source srcset="img/vaksin.webp" type="image/webp">
            <img src="img/vaksin.png" width="540" loading="lazy" alt="screenshot site Project Vaksin.in"
              data-aos="zoom-in-up" data-aos-duration="2000">
          </picture>
        </a>
      </li>
      <li class="best__list-item">
        <a class="best__item-link" target="_blank" aria-label="Link-screenshot to site Project Staycation" href="#">
          <picture>
            <source srcset="img/stay-cation.avif" type="image/avif">
            <source srcset="img/stay-cation.webp" type="image/webp">
            <img src="img/stay-cation.png" width="540" loading="lazy" alt="screenshot site Project Staycation."
              data-aos="zoom-in-up" data-aos-duration="2000">
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
