<section class="business">
  <div class="container">
    <div class="business__inner">
      <h2 class="business__title title">
        Grow Your Business With SakaAgency
      </h2>
      <a class="business__btn btn btn-reset" target="_blank" href="#">
        Contact Us
      </a>
      <ul class="business__list list-reset">
        <li class="business__stat list-reset">
          <span class="business__number">
            100+
          </span>
          <span class="business__descr">
            Happy Customer
          </span>
        </li>
        <li class="business__stat list-reset">
          <span class="business__number">
            100+
          </span>
          <span class="business__descr">
            Project Completed
          </span>
        </li>
        <li class="business__stat list-reset">
          <span class="business__number">
            40+
          </span>
          <span class="business__descr">
            Awards Won
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>
