<section class="customer section">
  <div class="container">
    <div class="customer__inner">
      <div class="customer__descr" data-aos="fade-right" data-aos-duration="3000">
        <h2 class="customer__title title" data-aos="fade-right" data-aos-duration="2000">
          Our Customer Say
        </h2>
        <p class="customer__text" data-aos="fade-right" data-aos-duration="3000">
          Feedback from our happy customers helps us in reaching the top
        </p>
      </div>
      <ul class="customer__list list-reset">
        <div class="swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <li class="customer__item">
                <div class="customer__author customer__author--quote">
                  <div class="customer__author-inner">
                    <picture>
                      <source srcset="img/jackson.avif" type="image/avif">
                      <source srcset="img/jackson.webp" type="image/webp">
                      <img class="customer__author-photo" src="img/jackson.png" width="55" loading="lazy"
                        alt="photo of CEO of ABD Group Mr.Jackson">
                    </picture>
                    <div class="customer__author-descr">
                      <h3 class="customer__author-name">
                        Mr. Jackson
                      </h3>
                      <p class="customer__author-position">
                        CEO of ABD Group
                      </p>
                    </div>
                  </div>
                  <p class="customer__author-text">
                    Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat. Lorem
                    ipsum
                    dolor
                    amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat. Lorem ipsum dolor amet,
                    consectetur
                    adipiscing elit. Mattis et sed nam sem tellus erat. Lorem ipsum dolor amet, consectetur
                    adipiscing
                    elit.
                    Mattis et sed nam sem tellus erat.
                  </p>
                </div>
              </li>
            </div>
            <div class="swiper-slide">
              <li class="customer__item">
                <div class="customer__author customer__author--quote">
                  <div class="customer__author-inner">
                    <picture>
                      <source srcset="img/jackson.avif" type="image/avif">
                      <source srcset="img/jackson.webp" type="image/webp">
                      <img class="customer__author-photo" src="img/jackson.png" width="55" loading="lazy"
                        alt="photo of CEO of ABD Group Mr.Jackson">
                    </picture>
                    <div class="customer__author-descr">
                      <h3 class="customer__author-name">
                        Mr. Jackson
                      </h3>
                      <p class="customer__author-position">
                        CEO of ABD Group
                      </p>
                    </div>
                  </div>
                  <p class="customer__author-text">
                    Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat. Lorem
                    ipsum
                    dolor
                    amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat. Lorem ipsum dolor amet,
                    consectetur
                    adipiscing elit. Mattis et sed nam sem tellus erat. Lorem ipsum dolor amet, consectetur
                    adipiscing
                    elit.
                    Mattis et sed nam sem tellus erat.
                  </p>
                </div>
              </li>
            </div>
            <div class="swiper-slide">
              <li class="customer__item">
                <div class="customer__author customer__author--quote">
                  <div class="customer__author-inner">
                    <picture>
                      <source srcset="img/jackson.avif" type="image/avif">
                      <source srcset="img/jackson.webp" type="image/webp">
                      <img class="customer__author-photo" src="img/jackson.png" width="55" loading="lazy"
                        alt="photo of CEO of ABD Group Mr.Jackson">
                    </picture>
                    <div class="customer__author-descr">
                      <h3 class="customer__author-name">
                        Mr. Jackson
                      </h3>
                      <p class="customer__author-position">
                        CEO of ABD Group
                      </p>
                    </div>
                  </div>
                  <p class="customer__author-text">
                    Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat. Lorem
                    ipsum
                    dolor
                    amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat. Lorem ipsum dolor amet,
                    consectetur
                    adipiscing elit. Mattis et sed nam sem tellus erat. Lorem ipsum dolor amet, consectetur
                    adipiscing
                    elit.
                    Mattis et sed nam sem tellus erat.
                  </p>
                </div>
              </li>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </ul>
    </div>
  </div>
</section>
