<footer class="footer">
  <div class="footer__line"></div>
  <div class="container">
    <div class="footer__inner">
      <div class="footer__copyright-inner">
        <a class="footer__logo" href="#">
          <img class="footer__logo-link" src="img/logo.svg" width="160" height="35" alt="footer site logo">
        </a>
        <p class="footer__copy">
          Copyright © 2021 SakaAgency All Right Reserver
        </p>
        <div class="footer__icons">
          <a class="footer__icon-link footer__icon-link--insta" target="_blank" href="#"
            aria-label="icon instagram"></a>
          <a class="footer__icon-link footer__icon-link--dribble" target="_blank" href="#"
            aria-label="icon dribble"></a>
          <a class="footer__icon-link footer__icon-link--youtube" target="_blank" href="#"
            aria-label="icon youtube"></a>
        </div>
      </div>
      <div class="footer__nav-inner">
        <h2 class="footer__subtitle">
          Company
        </h2>
        <ul class="footer__category list-reset">
          <li class="footer__list-item">
            <a class="footer__item" href="#">About Us</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__item" href="#">Project</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__item" href="#">Pricing</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__item" href="#">Career</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__item" href="#">Testimonial</a>
          </li>
        </ul>
      </div>
      <div class="footer__support-inner">
        <h2 class="footer__subtitle">
          Support
        </h2>
        <ul class="footer__support-item list-reset">
          <li class="footer__list-item">
            <a class="footer__item" target="_blank" href="#">
              FAQ
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__item" target="_blank" href="#">
              Privacy Policy
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__item" target="_blank" href="#">
              Term and Conditions
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__item" href="mailto:halo@sakaagency.studio">
              halo@sakaagency.studio
            </a>
          </li>
          <li class="footer__list-item">
            <a class="footer__item" href="tel:+0221234567">
              022-123-4567
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__input-inner">
        <h2 class="footer__subtitle">
          Get In Touch
        </h2>
        <form class="footer__form" action="#">
          <label>
            <input class="footer__input" name="email" type="email" placeholder="Your email address" required>
            <button class="footer__input-icon btn-reset" type="submit" aria-label="send email button"></button>
          </label>
          <!-- <label>
            <input class="footer__input-icon" name="email" type="image" src="../img/send-icon.svg"
              alt="icon to send email">
          </label> -->
        </form>
      </div>
    </div>
  </div>
</footer>
