<section class="founder section">
  <div class="container">
    <h2 class="founder__title title">
      Meet The Founder
    </h2>
    <div class="founder__inner">
      <ul class="founder__list list-reset">
        <li class="founder__item">
          <div class="founder__item-column">
            <h3 class="founder__subtitle">Jhon Doe</h3>
            <p class="founder__descr">A visioner, and tech-product design guy.</p>
          </div>
          <picture>
            <source srcset="img/jhon.avif" type="image/avif">
            <source srcset="img/jhon.webp" type="image/webp">
            <img class="founder__photo" src="img/jhon.png" loading="lazy" width="280"
              alt="photo of a team member Jhon Doe">
          </picture>
        </li>
        <li class="founder__item founder__item--right">
          <picture>
            <source srcset="img/doe.avif" type="image/avif">
            <source srcset="img/doe.webp" type="image/webp">
            <img class="founder__photo" src="img/doe.png" loading="lazy" width="280"
              alt="photo of a team member Doe Jhon">
          </picture>
          <div class="founder__item-column">
            <h3 class="founder__subtitle">Doe Jhon</h3>
            <p class="founder__descr">A tech guy, expert in MERN Stack and Server Side</p>
          </div>
        </li>
        <li class="founder__item founder__item--jhon-top">
          <div class="founder__item-column">
            <h3 class="founder__subtitle">Jhon Key</h3>
            <p class="founder__descr">Lead UI/UX Designer, loves design and build website</p>
          </div>
          <picture>
            <source srcset="img/key.avif" type="image/avif">
            <source srcset="img/key.webp" type="image/webp">
            <img class="founder__photo" src="img/key.png" loading="lazy" width="280"
              alt="photo of a team member Jhon Key">
          </picture>
        </li>
        <li class="founder__item founder__item--right">
          <picture>
            <source srcset="img/kekey.avif" type="image/avif">
            <source srcset="img/kekey.webp" type="image/webp">
            <img class="founder__photo" src="img/kekey.png" loading="lazy" width="280"
              alt="photo of a team member Kekey">
          </picture>
          <div class="founder__item-column">
            <h3 class="founder__subtitle">Kekey</h3>
            <p class="founder__descr">Lead Researcher, loves data and human-centered design</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
