<section class="help section">
  <div class="container">
    <h2 class="help__title title">
      Our Specialization can help your problem
    </h2>
    <div class="help__inner">
      <ul class="help__list list-reset">
        <li class="help__item help__item--branding">
          <h3 class="help__subtitle" data-aos="fade-right" data-aos-duration="2500">
            Branding
          </h3>
          <p class="help__text" data-aos="fade-left" data-aos-duration="2500">
            Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
          </p>
          <a href="#" class="help__link">
            Read More
          </a>
        </li>
        <li class="help__item help__item--mobile">
          <h3 class="help__subtitle" data-aos="fade-right" data-aos-duration="2500">
            Mobile Apps
          </h3>
          <p class="help__text" data-aos="fade-left" data-aos-duration="2500">
            Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
          </p>
          <a href="#" class="help__link link">
            Read More
          </a>
        </li>
        <li class="help__item help__item--cart">
          <h3 class="help__subtitle" data-aos="fade-right" data-aos-duration="2500">
            E-commerce
          </h3>
          <p class="help__text" data-aos="fade-left" data-aos-duration="2500">
            Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
          </p>
          <a href="#" class="help__link">
            Read More
          </a>
        </li>
        <li class="help__item help__item--human">
          <h3 class="help__subtitle" data-aos="fade-right" data-aos-duration="2500">
            Human Resources
          </h3>
          <p class="help__text" data-aos="fade-left" data-aos-duration="2500">
            Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
          </p>
          <a href="#" class="help__link">
            Read More
          </a>
        </li>
        <li class="help__item help__item--learning">
          <h3 class="help__subtitle" data-aos="fade-right" data-aos-duration="2500">
            Learning Management
          </h3>
          <p class="help__text" data-aos="fade-left" data-aos-duration="2500">
            Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
          </p>
          <a href="#" class="help__link">
            Read More
          </a>
        </li>
        <li class="help__item help__item--design">
          <h3 class="help__subtitle" data-aos="fade-right" data-aos-duration="2500">
            UI/UX Design
          </h3>
          <p class="help__text" data-aos="fade-left" data-aos-duration="2500">
            Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat. Ipsum dolor
            sit amet.
          </p>
          <a href="#" class="help__link">
            Read More
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
