<section class="hero section">
  <div class="container">
    <div class="hero__bg" style="background-image: url('img/hero-bg.jpg')">
      <div class="hero__inner">
        <h1 class="hero__title" data-aos="fade-up" data-aos-duration="1500">
          Digital Agency,
          We&nbsp;Create Experiences.
        </h1>
        <p class="hero__text" data-aos="fade-up" data-aos-duration="2500">
          Let&rsquo;s create an&nbsp;amazing website to&nbsp;help your showcase and Make up Your Business!
        </p>
        <div data-aos="fade-up" data-aos-duration="3000">
          <a class="hero__btn btn btn-reset" href="#">
            Contact Us
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
