<section class="hero section">
  <div class="container">
    <div class="hero__bg" style="background-image: url('img/hero-bg.jpg')">


      <div class="swiper">
        <div class="swiper-wrapper">


          <div class="swiper-slide">

            <div class="hero__inner">
              <h1 class="hero__title">
                Digital Agency,
                We&nbsp;Create Experiences.
              </h1>
              <p class="hero__text">
                Let&rsquo;s create an&nbsp;amazing website to&nbsp;help your showcase and Make up Your Business!
              </p>
              <a class="hero__btn btn btn-reset" href="#">
                Contact Us
              </a>
            </div>

          </div>
          <div class="swiper-slide">

            <div class="hero__inner">
              <h1 class="hero__title">
                Digital Agency,
                We&nbsp;Create Experiences.
              </h1>
              <p class="hero__text">
                Let&rsquo;s create an&nbsp;amazing website to&nbsp;help your showcase and Make up Your Business!
              </p>
              <a class="hero__btn btn btn-reset" href="#">
                Contact Us
              </a>
            </div>

          </div>
          <div class="swiper-slide">

            <div class="hero__inner">
              <h1 class="hero__title">
                Digital Agency,
                We&nbsp;Create Experiences.
              </h1>
              <p class="hero__text">
                Let&rsquo;s create an&nbsp;amazing website to&nbsp;help your showcase and Make up Your Business!
              </p>
              <a class="hero__btn btn btn-reset" href="#">
                Contact Us
              </a>
            </div>

          </div>


        </div>
      </div>
      <!-- <div class="hero__inner">
        <h1 class="hero__title">
          Digital Agency,
          We&nbsp;Create Experiences.
        </h1>
        <p class="hero__text">
          Let&rsquo;s create an&nbsp;amazing website to&nbsp;help your showcase and Make up Your Business!
        </p>
        <a class="hero__btn btn btn-reset" href="#">
          Contact Us
        </a>
      </div> -->
    </div>
  </div>
</section>
